* {margin:0; padding:0}
body {background:#49A94E; 
	font-family:arial;
	font-style:regular;
	font-size:12px;
	line-height:18px;
	background-image: url('images/pattern1.png')}
	
h1{font-style:bold;
	font-size:16px;
	line-height:20px;}
	
table{font-size:14px;
	line-height:20px;}

img {max-width:100%;
	border:none;}
a{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}



.stracture{width:960px;
			margin:0px auto;
			display:block;
			}
.fix {overflow:hidden;}

.header_area {margin-top:5px;
			background:#003300;
			border-radius:15px 15px 0 0;}
.logo {float:left;
		margin:20px 20px;}

.small_menu{display:block; 
			float:right; 
			color:red; 
			text-decoration:none;
			padding:5px 5px; 
			margin:15px 0px;
			margin-top:32px; 
			display:block; 
			font-size:14px}
.small_menu ul{margin:0px; 
			list-style:none}
.small_menu ul li{float:left; 
			margin-right:0px}
.small_menu ul li a{display:block; 
			padding:0px 10px;
			font-weight:regular;
			text-decoration:none;
			color:#fff}
.small_menu ul li a:hover{background:red;
			color:#fff;
			border-radius:5px}

			
			
.slide{margin:0px auto; 
		margin-top:5px;}
.slider{margin-left:0px; 
		float:left;
		width:759px; 
		height:189px}
.side-slider{background:#FFF; 
		float:right;
		color:#003300;
		margin-top:0px; 
		margin-right:0px; 
		margin-bottom:0px;
		text-align:center; 
		padding:0px 0px; 
		overflow:hidden;
		width:201px; 
		height:189px;}
.side-slider img {border:0px solid; 
		width:195px; 
		height:120px; 
		margin-top:40px;}


.scroll{width:960px; 
		margin-top:0px;
		color:#FFF; 
		background:lightslategray; margin-bottom:5px;}
.scroll:hover{}

.main_menu_area{width:960px; margin-bottom:5px; height:35px; background:#003300;}

.main_menu{width:800px; float:left;
		height:35px; 
		border-radius:0px;
		background:#003300;
		}

.main_menu ul{margin:0px; padding:0px; list-style:none;}
.main_menu ul li{float:left; 
					border-right: 1px solid #5f7f7c; display:block; position:relative;}
.main_menu ul li:last-child{border-right:none;}

.main_menu ul li a{display:block; 
					font-weight:bold;
					font-size:13px;
					color:#FFF;
					text-decoration:none;
					padding:8px 20px;
					white-space:nowrap;
					}

.main_menu ul li a:hover{background:red;
					}
					
					
					
					
.main_menu ul li ul{position:absolute; left:-999999px;}

.main_menu ul li:hover ul {left:0px;}

.main_menu ul li ul {background:transparent; padding:0px;}
.main_menu ul li ul li {float:none; height:28px; width:220px; border-bottom:1px solid #FFF; border-right:0px solid;}
.main_menu ul li ul li:last-child {border-bottom:0px solid;}

.main_menu ul li ul li a {background:#0F1231; padding:5px 15px; border-radius:7px 7px 7px 7px;}
.main_menu ul li ul li a:hover{}

div#sticker {
    
}
.stick {
    position:fixed;
    top:0px;
	z-index: 999999;
}


.main_area{width:960px;
			float: left; 
			background:#FFF;
			border-radius:0px 0px 0px 0px}
			

.about_me{background:#FFFFFF;width:713px; margin-left:5px; padding:20px 20px; float:left; margin-top:10px; margin-bottom:20px; overflow:hidden; text-align:justify; line-height:20px; border-right:1px solid #5f7f7c}
.about_me h1{font-size:16px; margin-top:10px; margin-bottom:20px}
.about_me h2{font-size:14px; margin-top:20px; margin-bottom:10px}
.about_me h3{font-size:14px; margin-top:10px; margin-bottom:10px}
.about_me p{font-size:12px; margin-top:10px; margin-bottom:10px}
.about_me b{font-size:12px;}
.about_me img{margin:0px auto; margin-top:10px; margin-bottom:10px}



.main_text{width:713px; margin-left:5px; padding:20px 20px; float:left; margin-top:20px; margin-bottom:30px; overflow:hidden; text-align:justify; line-height:25px; border-right:1px solid #5f7f7c}
.main_text h1{font-size:20px; margin-top:10px; margin-bottom:20px}
.main_text h2{font-size:16px; margin-top:20px; margin-bottom:10px}
.main_text h3{font-size:14px; margin-top:10px; margin-bottom:10px}
.main_text p{font-size:14px; margin-top:10px; margin-bottom:10px}
.main_text b{font-size:14px;}
.main_text img{margin:0px auto; margin-top:10px; margin-bottom:10px}
.cmd-back1{width:670px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back2{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back3{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back4{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back5{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back6{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back7{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back8{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back9{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}
.cmd-back10{width:600px;margin-bottom:20px; background:#e8ebf0;font-size:14px;padding:20px;}


.main_sidebar{width:200px; float:right; margin-right:0px; margin-top:50px; margin-bottom:30px; padding:0px 0px; text-align:justify; overflow:hidden;}

.notice{width:170px; margin:0px auto; padding:0px 0px; overflow:hidden;}
.notice-text{width:170px; height:210px; margin:0px auto; padding:0px 0px; border:1px solid #000; overflow:hidden; background:#E8EBF0; padding:5px;}

.image-link{width:170px; margin:30px auto; padding:0px 0px; overflow:hidden; }
.image-link img {margin:10px 45px;}
.comment-output{width:545px; margin-left:5px; padding:0px 20px; float:left; margin-top:30px; margin-bottom:30px; overflow:hidden; text-align:justify;}

.comment-input{width:315px; margin-right:10px; padding:10px 20px; float:right; margin-top:30px;  margin-bottom:20px; text-align:justify; overflow:hidden; border: 1px solid}
.comment-input input{width:315px; padding:4px;}

.workshop-registration-input{width:650px; margin-left:10px; padding:10px 20px; float:left; margin-top:10px;  margin-bottom:20px; text-align:justify; overflow:hidden; border: 1px solid}
.workshop-registration-input input{width:650px; padding:4px;}

.feedback{background: none repeat scroll 0 0 #FFFFFF;}
.contact{height:290px; background:#e4ebe7;}

.address{width:385px; margin-left:5px; padding:0px 20px; float:left; margin-top:20px; margin-bottom:30px; overflow:hidden; text-align:justify;}
.map{width:315px; margin-right:10px; padding:0px 20px; float:right; margin-top:20px;  margin-bottom:30px; text-align:justify; overflow:hidden; border-left:1px solid #5f7f7c }



.label{width:150px;display:inline-block;}



.single{padding:20px;width:140px;}
.multiple{height:180px; width:315px;}



.bottom_area{width:960px; float:left; margin-top:5px; margin-bottom:0px; height:90px; background:#003300; border-radius:0px 0px 15px 15px;}
.bottom_area p {color:#fff;}
.bottom_area p a {text-decoration:none; color:#fff;}
.bottom_area1{}
.bottom_col1{width:190px; margin-left:5px; padding:20px 20px; float:left; margin-top:0px; margin-bottom:5px; overflow:hidden; text-align:left; line-height:10px; border-right:1px solid #5f7f7c}
.bottom_col1:last-child {border-right:0px solid;}

.bottom_col2{}
.bottom_col3{}
.footer_area{float:right; background:#003300;color:#FFF; margin-top:2px; margin-bottom:20px; border-radius:10px; overflow:hidden;}
.copyright{width:851px; float:left;margin:10px 10px}
.social_profiles{width:75px; float:right;background:#E4E4E4; border: 0px solid #DDDDDD;
border-radius: 5px 5px 5px 5px; margin: 5px 5px; padding: 2px;}
.social_profiles img {margin-left: 10px; margin-right: 10px; margin-top:5px}

.menu_colour {background:red;}
span.about_lineheight{line-height:18px;}

span.degree_title {color: navy; font-weight:bold;}
span.job_title {color: navy; font-weight:bold;}
span.employer {color: black; font-weight:bold;}
span.certificate_title {color: navy; font-weight:bold;}
span.training_title {color: navy; font-weight:bold;}

span.feedback {font-weight:Bold; color: navy}
span.hl_yellow {background: yellow;}